
body{
	background: linear-gradient(to bottom, lightgray 30%, black);
	background-repeat: no-repeat;

}
main{
	margin: 0 auto;
	display: block;
}

.bloco{
	max-width: 25%;
	max-height: 60%;
	background: dimgray;
	color: white;
	border-radius: 30px;
	padding: 40px;
	font-family: arial;
	box-shadow: 5px 8px 15px black;
    position: relative;
	
}

.bloco_heroi{
	width: 100%;
	margin: 0px;
	
}

.heroi{
	max-width: 100%;
	border-radius: 50%;
	display: inline-flex;
	position: relative;
	object-fit: cover;
}

.batman{
	max-width: 28%;
	object-fit: cover;
}

.estrelas{
	width: 100%;
}

.star_empty{	
	max-width: 9%;
	max-height: auto;
}

 .star_empty_img{
 	max-width: 9%;
 	max-height: auto;
 }