
body{
	background: lightgray;
	background-repeat: no-repeat;

}
main{
	margin: 0 auto;
}

.bloco{
	max-width: 25%;
	max-height: 60%;
	background: dimgray;
	color: white;
	border-radius: 30px;
	border-block-style: blur;
	padding: 40px;
	font-family: arial;
	box-shadow: 8px 8px 20px #404040;
    position: relative;
}

.bloco_heroi{
	width: 100% auto;	
	margin-top: 30px;
}

ul {
   margin-block-start: 0;
   padding-inline-start: 0px;
} 

ul li{
	display: inline;
}

.heroi{
	width: 20%;

	border-radius: 50%;	
	position: relative;
	display: inline;
	margin: 8px;
}

.heroi:hover { 
	box-shadow: 4px 4px 8px #404040;
	transform: scale(1.1);
}

.batman{
	max-width: 28%;
	object-fit: cover;
}

.estrelas{
	width: 100%;
	display: block;
	padding: 0px;
	margin-top: 50px;
}

.stars_line{
	display: inline;
	
}

.star_empty{ 	
 	max-width: 8%; 	
 	display: relative;
 }

 .star_filled{ 	
 	max-width: 8%; 	
 	display: none;
 }

.star:hover .star_empty{
 	display: none;
 }
 .star:hover .star_filled{
 	display: inline;
 	transform: scale(1.1);
 }

