body{
	background: url("logo_dc.png") 20%;

}

main{ 
  display: flex; 
  flex-direction: column;  
  justify-content: center;
  align-items: center;  
}

.bloco{	
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 28%;
  background: dimgray;
	color: white;
	border-radius: 30px;
	border-block-style: blur;
	padding: 40px;
	font-family: arial;
	box-shadow: 8px 8px 20px #404040;
  text-align: center;

}

.bloco_heroi{
	width: 100% auto;	
	margin-top: 30px;
  display: flex;
  justify-content: space-between;
	
}

ul {
   margin-block-start: 0;
   padding-inline-start: 0px;
} 

ul li{
	display: inline;
}

.heroi{
	max-width: 20%;
	justify-content: space-around;
	border-radius: 50%;	
	position: relative;	
  display: flow;
	margin: 8px;
}

.heroi:hover { 
	box-shadow: 4px 4px 8px #404040;
	transform: scale(1.1);
}

.batman{
	max-width: 28%;
	object-fit: cover;
}

.estrelas{
	width: 100%;
	display: flex;
	padding: 0px;	
  flex-wrap: nowrap;
}

.star{max-width: 8%;
}

.star_empty{ 	
 	max-width: 8%;
 	display: relative;
 }

 .star_filled{ 	
 	max-width: 8%;
 	display: none;
 }

.star:hover .star_empty{
 	display: none;
 }
 .star:hover .star_filled{
 	display: inline;
 	transform: scale(1.1);
 }

button{
  background-color: black;
  border-radius: 5px;
}

a.refazer_a:visited{
  color: white;
}